*{
    padding: 0;
}
body {
    font:400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
    display:flex;
    justify-content: center;
}
th{
    background:#00e0ff;
    color: #f0f0f5;
    border-radius: 5px;
    padding: 10px 60px ;
}
h2{
    display:flex;
    justify-content: center;
    color:#f0f0f5;
    padding: 10px;
    background-color:#00e0ff;
    border-radius: 8px;
}
#Name{
    display:flex;
    justify-content: center;
}

#Rodape
{
    position:absolute;
    top:650px;                      
}

section{ 
    width: 100%;
    max-width: 380px;
}
form input {
    
    width: 95%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 25px;
    }

#button{
    width: 100%;
    height: 60px;
    background: #00e0ff;
    border: 0; 
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center; 
    text-decoration: none; 
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
    }
#Cadastro
{
   display: flex;
   justify-content: center;
}
#cpf
{
    width: 95%;
  
}
#Erro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    color:white;
    background: red;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: 700;
   
}